<div class="modal">
  <div class="actions">
    <input type="text" placeholder="Web, Security, JPA, Actuator, Devtools...">
    <button (click)="emitCloseModal()">
      <svg aria-hidden="true" focusable="false" data-icon="time" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.6 14.6" class="icon-time"><title>close</title><line class="st0" x1="1.5" y1="1.5" x2="13.1" y2="13.1"></line><line class="st0" x1="13.1" y1="1.5" x2="1.5" y2="13.1"></line></svg>
    </button>
  </div>
  <div class="modal_body">
    <ul class="dependency-group">
      <div [hidden]="item.hidden" *ngFor="let item of dependencies">
        <li class="dependency-group-title">
          <span>{{item.name}}</span>
        </li>
        <li [hidden]="dep.hidden" class="dependency-item" *ngFor="let dep of item.content"  (click)="selectDependency(dep)">
          <a class="dependency">
            <span class="dependency-title">{{dep.name}}</span>
            <p class="dependency-description">{{dep.description}}</p>
            <span *ngIf="dep.versionRange">Requires Spring Boot {{formatVersionRange(dep.versionRange)}}</span>
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>
<div class="overlay" (click)="emitCloseModal()"></div>
