<div class="modal">
  <div class="actions">
    <input [(ngModel)]="filterValue" type="text" placeholder="Web, Security, JPA, Actuator, Devtools...">
    <button (click)="emitCloseModal()">
      <svg aria-hidden="true" focusable="false" data-icon="time" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.6 14.6" class="icon-time"><title>close</title><line class="st0" x1="1.5" y1="1.5" x2="13.1" y2="13.1"></line><line class="st0" x1="13.1" y1="1.5" x2="1.5" y2="13.1"></line></svg>
    </button>
  </div>
  <div class="modal_body">
    <ul class="dependency-group">
      <div [hidden]="dependency.hidden" *ngFor="let dependency of dependencies | rangeVersionDepenedency: bootVersion: filterValue">
        <li class="dependency-group-title" [hidden]="filterValue">
          <span>{{dependency.name}}</span>
        </li>
        <li 
          *ngFor="let dep of dependency.content"
          class="dependency-item"
          [ngClass]="{disabled: dep.versionRequired}" 
          [hidden]="dep.hidden" 
          (click)=" dep.versionRequired ? null : selectDependency(dep)">
          <a class="dependency">
            <div class="dependency-wrapper">
              <span class="dependency-title">{{dep.name}}</span>
              <span class="chip-group" [hidden]="!filterValue">{{ dependency.name }}</span>
            </div>
            <p class="dependency-description">{{dep.description}}</p>
            <span *ngIf="dep.versionRequired ">Requires Spring Boot {{ dep.versionRequired }}</span>
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>
<div class="overlay" (click)="emitCloseModal()"></div>
