<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="full-container" *ngIf="!loading">
  <form (ngSubmit)="onGenerateProject()" #myForm="ngForm">
    <header>
      <div class="header-container">
          <div class="header--logo">
              <h1><a href="/"><img src="../assets/img/initializr_blue_image.png" alt=""></a></h1>
          </div>
      </div>
    </header>
    <main class="main-container">
      <section class="main--metadata-container">
        <div class="main-metadata--input-group">
          <div class="project--container sub-container">
            <h2 class="sub-section--title">Project</h2>
            <div class="project--radioGroup">
              <app-radio-button
                *ngFor="let item of configs.projects"
                [radioText]="item.name"
                radioName="project"
                [radioId]="item.id"
                [radioValue]="item.id"
                [radioChecked]="item.checked"
                [(ngModel)]="form.project" name="project" ngDefaultControl
                (change)="radioProjectChange($event)"
                >
              </app-radio-button>
            </div>
          </div>
          <div class="build--container sub-container">
            <h2 class="sub-section--title">Build</h2>
            <div class="project--radioGroup">
              <app-radio-button
                *ngFor="let item of builds"
                [radioText]="item.name"
                radioName="build"
                [radioId]="item.id"
                [radioValue]="item.id"
                [radioChecked]="item.checked"
                [radioDisabled]="item.disabled"
                [(ngModel)]="form.type" name="build" ngDefaultControl
                >
              </app-radio-button>
            </div>
          </div>
          <div class="language--container sub-container">
            <h2 class="sub-section--title">Language</h2>
            <div class="language--radioGroup">
              <app-radio-button
                *ngFor="let item of languages"
                [radioText]="item.name"
                radioName="language"
                [radioId]="item.id"
                [radioValue]="item.id"
                [radioChecked]="item.checked"
                [radioDisabled]="item.disabled"
                [(ngModel)]="form.language" name="language" ngDefaultControl
                >
              </app-radio-button>
            </div>
          </div>
        </div>
        <div class="boot--container sub-container">
          <h2 class="sub-section--title">Spring Boot</h2>
          <div class="boot--radioGroup">
            <app-radio-button
              *ngFor="let item of bootVersions"
              [radioText]="item.name"
              radioName="bootVersion"
              [radioId]="item.id"
              [radioValue]="item.id"
              [radioChecked]="item.checked"
              [radioDisabled]="item.disabled"
              [(ngModel)]="form.bootVersion" name="bootVersion" ngDefaultControl
              >
            </app-radio-button>
          </div>
        </div>
        <div class="boot--container sub-container">
          <h2 class="sub-section--title">Domains</h2>
          <div class="boot--radioGroup">
            <app-radio-button
              *ngFor="let item of domains"
              [radioText]="item.name"
              radioName="domain"
              [radioId]="item.id"
              [radioValue]="item.id"
              [radioChecked]="item.checked"
              [radioDisabled]="item.disabled"
              (change)="radioDomainsChange($event)"
              [(ngModel)]="form.domain" name="domain" ngDefaultControl
              (ngModelChange)="radioDomainChangePackage($event)"
              >
            </app-radio-button>
          </div>
        </div>
        <div class="project-metadata--container sub-container">
          <div class="metadata--container">
            <h2 class="sub-section--title">Project Metadata</h2>
            <div class="metadata-form">
              <app-input-text
                inputLabel="Group"
                inputName="group"
                inputId="group"
                [inputValue]="form.groupId"
                [(ngModel)]="form.groupId"
                name="group" ngDefaultControl
                [inputDisabled]="form.project === 'ginni'"
                (ngModelChange)="inputTextGroupChange($event)">
              </app-input-text>
              <app-input-text
                inputLabel="Artifact"
                inputName="artifact"
                inputId="artifact"
                [inputValue]="form.artifactId"
                [(ngModel)]="form.artifactId"
                name="artifact" ngDefaultControl
                (ngModelChange)="inputTextArtifactChange($event)"
                >
              </app-input-text>
              <app-input-text
                inputLabel="Name"
                inputName="name"
                inputId="name"
                [inputValue]="form.name"
                [(ngModel)]="form.name"
                name="name" ngDefaultControl>
              </app-input-text>
              <app-input-text
                inputLabel="Description"
                inputName="description"
                inputId="description"
                inputValue="Demo project for Spring Boot"
                [(ngModel)]="form.description"
                name="description" ngDefaultControl>
              </app-input-text>
              <app-input-text
                inputLabel="Package name"
                inputName="packageName"
                inputId="packageName"
                [inputValue]="form.packageName"
                [(ngModel)]="form.packageName"
                [inputDisabled]="form.project === 'ginni'"
                name="packageName" ngDefaultControl>
              </app-input-text>
            </div>
          </div>
          <div class="packaging--container">
            <p class="metadata--sub-title">Packaging</p>
            <div class="packaging--radioGroup">
              <app-radio-button
                *ngFor="let item of packagings"
                [radioText]="item.name"
                radioName="packaging"
                [radioId]="item.id"
                [radioValue]="item.id"
                [radioChecked]="item.checked"
                [radioDisabled]="item.disabled"
                [(ngModel)]="form.packaging" name="packaging" ngDefaultControl>
              </app-radio-button>
            </div>
          </div>
          <div class="java--container">
            <p class="metadata--sub-title">Java</p>
            <div class="java--radioGroup">
              <app-radio-button
                *ngFor="let item of javaVersions"
                [radioText]="item.name"
                radioName="javaVersion"
                [radioId]="item.id"
                [radioValue]="item.id"
                [radioChecked]="item.checked"
                [radioDisabled]="item.disabled"
                [(ngModel)]="form.javaVersion" name="javaVersion" ngDefaultControl>
              </app-radio-button>
            </div>
          </div>
        </div>
      </section>
      <section class="main--dependency-container">
        <div class="dependency-container-top">
          <div>
            <h2 class="dependency-sub-section--title">Dependencies</h2>
          </div>
          <div>
            <button type="button" (click)="openModal()"><span class="dependency-buttom"></span></button>
          </div>
        </div>
        <div class="dependency-container-bottom">
          <div *ngIf="selectedDependencies.length == 0">
            <p>No dependency selected</p>
          </div>
          <div *ngIf="selectedDependencies.length > 0">
            <ul>
              <li *ngFor="let item of selectedDependencies; index as i">
                <div class="dependency-info-container">
                  <div class="dependency-group-title">
                    <span class="dependency-title">{{item.name}}</span>
                    <span class="dependency-group-badge">{{item.group}}</span>
                  </div>
                  <p class="dependency-description">{{item.description}}</p>
                </div>
                <div class="dependency-actions">
                  <button type="button" (click)="onRemoveDependency(item, i)">
                    <svg aria-hidden="true" focusable="false" data-icon="remove" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon-remove"><g id="Layer_1_1_"><path class="st0" d="M494,256c0,131.4-106.6,238-238,238S18,387.4,18,256S124.6,18,256,18S494,124.6,494,256z"></path></g><g id="Layer_2_1_"><line class="st1" x1="114.4" y1="260" x2="397.5" y2="260"></line></g></svg>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer--content">
          <button type="submit">GENERATE SPRING PROJECT</button>
      </div>
  </footer>
  </form>
</div>
<div *ngIf="modalSwitch">
  <app-modal [dependencies]="listDependencies"></app-modal>
</div>
